{% load i18n %}
{% load staticfiles %}

<footer class="footer container-fluid" style="background-color:#de5543">
    {% block footer %}
     <div class="row">
	 <div  class="large-2 columns" style="float:left;"><img src="{% static "oscar/img/social/di24.png" %}"/></div>
     <div  class="large-2 columns"  style="float:left;"><img src="{% static "oscar/img/social/wwd.png" %}"/></div>
		</div>
			<div class="row">
            <div  class="large-4 columns"><hr></div>
		<div class="large-4 columns center">
        		
				<ul class="icons">
				

					<li><a href="#"><img src="{% static "oscar/img/social/fb.png" %}"/></a></li>
					<li><a href="#"><img src="{% static "oscar/img/social/tw.png" %}"/></a></li>
					<li><a href="#"><img src="{% static "oscar/img/social/vp.png" %}"/></a></li>
					<li><a href="#"><img src="{% static "oscar/img/social/gp.png" %}"/></a></li>
					<li><a href="#"><img src="{% static "oscar/img/social/pi.png" %}"/></a></li>

				</ul>
				</div>
                <div  class="large-4 columns"><hr></div>
                </div>
			<div class="row">
            <div class="large-4 columns"></div> 
		
            
		<div class="large-4 columns">
        <div class="margin_div center">
			&copy; 2014 house of hause .all rights rerved</a></li>
		</div>	 
  			
		</div>
	<div class="large-4 columns"></div>

	</div>
    {% endblock %}
</footer>

