{% load i18n %}
{% load staticfiles %}

<footer class="footer container-fluid" style="background-color:#de5543">
	{% block footer %}
	<div style="width:1150px; margin:0px auto;">
		<div style="width:150px; float:left;"><img src="{% static "oscar/img/social/di24.png" %}" align="center" width="192"  /></div>
		<div style="width:150px; float:left; "><img src="{% static "oscar/img/social/wwd.png" %}"  align="center" width="192"  /></div>
		<div style="width:110px; float:left; ">&nbsp;</div>
		<div style="width:100px; float:left; ">&nbsp;</div>
		<div style="width:147px; float:left; padding:40px 0 10px 0px;"><img src="{% static "oscar/img/social/followus.png" %}" width="147" align="center" /></div>
		<div style="width:150px; float:left; ">&nbsp;</div>
	</div>

	<div style="clear:both;"></div>
	<div class="row" style="padding:0;">
		<div  class="large-4 columns"  style="border-bottom:1px solid #572822 !important ">&nbsp;</div>
		<div class="large-4 columns center">

			<ul class="icons">
				<li><a href="#"><img src="{% static "oscar/img/social/fb.png" %}"/></a></li>
				<li><a href="#"><img src="{% static "oscar/img/social/tw.png" %}"/></a></li>
				<li><a href="#"><img src="{% static "oscar/img/social/vp.png" %}"/></a></li>
				<li><a href="#"><img src="{% static "oscar/img/social/gp.png" %}"/></a></li>
				<li><a href="#"><img src="{% static "oscar/img/social/pi.png" %}"/></a></li>
			</ul>
		</div>
		<div  class="large-4 columns"  style="border-bottom:1px solid #572822 !important ">&nbsp;</div>
	</div>
	<div class="row">
		<div class="large-4 columns"></div> 
		

		<div class="large-4 columns">
			<div class="margin_div center copyright">
				&copy; 2014 house of hause .all rights rerved</a></li>
			</div>	 

		</div>
		<div class="large-4 columns"></div>

	</div>
	{% endblock %}
</footer>

