{% load i18n %}
{% load url from future %}   <!--to recognize the urls like href="{{ login_url }} -->


<nav class="navbar navbar-fixed-left navbar-minimal animate" role="navigation">
    <div class="navbar-toggler animate">
        <span class="menu-icon"></span>
    </div>
    <ul class="navbar-menu animate">
        {% if user.is_authenticated %}
        {% if num_unread_notifications > 0 %}
        <li>
            <a href="{% url 'customer:notifications-inbox' %}" class="animate">
                <span class="desc animate"> Notifications </span>
                <span class="label label-important">{{ num_unread_notifications }}</span>
                <span class="icon-bell"></span>
            </a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'customer:summary' %}" class="animate">
                <span class="desc animate"> Account </span>
                <span class="icon-user"></span>
            </a>
        </li>
        {% if not user.is_designer %}
        <li>
            <a href="{% url 'request:designer-request' %}" class="animate">
                <span class="desc animate"> Start Boutique </span>
                <span class="icon-plane"></span>
            </a>
        </li>
        {% endif %}
        {% endif %}

        {% if user.is_staff or perms.partner.dashboard_access %}
        <li>
            <a href="{% url 'dashboard:index' %}" class="animate">
                <span class="desc animate"> Dashboard </span>
                <span class="icon-dashboard"></span>
            </a>
        </li>
        {% endif %}
        <li>
            <a id="logout_link" href="{% url 'customer:logout' %}" class="animate">
                <span class="desc animate"> Logout </span>
                <span class="icon-signout"></span>
            </a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'request:designer-request' %}" class="animate">
                <span class="desc animate"> Start Boutique </span>
                <span class="icon-plane"></span>
            </a>
        </li>
        <li>
            <a id="login_link" href="{% url 'account_login' %}" class="animate">
                <span class="desc animate"> Login </span>
                <span class="icon-signin"></span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>

